body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#0f171e;
color:white;
}   
body {
  padding: 25px;
  background-color: white;
  color: black;
  transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
  background-color: black;
  color: white;
}


.navbar-custom{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#0f171e;
}

.logo{
color:#00a8e1;
}

.menu{
list-style:none;
display:flex;
gap:20px;
}

.menu a{
text-decoration:none;
color:white;
}

.menu a:hover{
color:#00a8e1;
}

.search{
padding:6px;
border-radius:4px;
border:none;
}

.banner{
height:400px;
object-fit:cover;
}

.movie-section{
padding:20px;
}

.movies{
display:flex;
gap:15px;
}

.movie-card{
width:200px;
border-radius:8px;
transition:0.3s;
}

.movie-card:hover{
transform:scale(1.1);
}

.page-title{
padding:40px;
font-size:40px;
text-align:center;
}

footer{
text-align:center;
padding:20px;
background:black;
}
